.banner--about {
  background-image: url(../img/dist/about.jpg);
  @media only screen and (max-width: 767px) {
    background-image: url(../img/dist/mob.jpg);
  }
}
.banner--team {
  padding-bottom: 161px;
  background-image: url(../img/dist/discover.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.team {
  padding-top: 42px;
  padding-bottom: 65px;
  &__content {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__subtitle {
    color: $main-color;
    font-size: 21px;
    margin-bottom: 6px;
  }
  &__text {
    font-size: 14px;
    color: #8624db;
    margin-bottom: 12px;
  }
  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    @media only screen and (max-width: 767px) {
      width: 50%;
    }
  }
  &__aside {
    margin-right: 10px;
    margin-top: 10px;
  }
}
.icon-mail,
.icon-in,
.icon-twitter,
.icon-right-emma,
.icon-uniq-3,
.icon-uniq-5,
.icon-in-emma {
  font-family: "Icon";
  color: #ff0164;
  font-size: 14px;
  margin-bottom: 13px;
}
.icon-in-emma {
  font-size: 12px;
}
.icon-in-emma::before {
  content: "\E00C";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.icon-right-emma {
  font-size: 10px;
}
.icon-in:before {
  content: "\E003";
}
.icon-right-emma:before {
  content: "\E005";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.icon-mail:before {
  content: "\E004";
  margin-right: 18px;
}
.icon-twitter:before {
  content: "\E009";
  margin-right: 18px;
}
.block-banner--grey {
  background-image: url(../img/dist/meet.png);
  padding-top: 164px;
  padding-bottom: 121px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.region li {
  position: relative;
}
.region {
  display: inline;
}
.drop__list {
  display: flex;
  margin-bottom: 120px;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.all__item,
.region__item,
.language__item,
.type__item,
.expertise__item {
  color: #8624db;
  border-radius: 29px;
  border: 1px solid transparent;
  background-color: #f3f3f3;
  padding: 20px 60px;
  font-style: 14px;
  margin-bottom: 10px;
}
.all__item {
  background-color: #8624db;
  color: $secondary-color;
}
.sub-region__list {
  position: absolute;
  left: 0;
  top: 0px;
  display: none;
  margin-top: 63px;
  padding-bottom: 38px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 7;
}

.sub-region__item {
  color: #29262b;
  display: inline-block;
  font-size: 14px;
  line-height: 48px;
  width: 160px;
  height: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1px;
}

.drop__list > li {
  margin-right: 10px;
}
.drop__list > li:hover .sub-region__list {
  display: block;
}

.icon-about-arrow:before {
  content: "\E001";
  font-family: "Icon";
  font-size: 7px;
  position: absolute;
  right: 45px;
  top: 4px;
  color: #8624db;
  top: 45%;
  transform: translateY(-50%);
}
.actived {
  margin-bottom: 1px;
  border: 1px solid #8624db;
  border-radius: 29px;
  background-color: #fff;
  color: #8624db;
}

p.icon-about-arrow:before:hover {
  transform: rotate(-180deg);
}
.masters {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__mobile {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
.master {
  margin-right: 5px;
  &__pic {
    height: auto;
    width: 100%;
    margin-bottom: 19px;
  }
  &__title {
    color: #29262b;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 9px;
  }
  &__subtitle {
    color: #8624db;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__description {
    display: block;
    color: #29262b;
    font-size: 13px;
    max-width: 260px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 25px;
    span {
      font-weight: 600;
    }
  }
  &__icon {
    border: #ff0164 2px solid;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    display: inline-block;
    position: relative;
    margin-bottom: 57px;
    .icon-right:before {
      content: "\E005";
      font-family: "Icon";
      color: #ff0164;
      font-size: 9px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    display: inline;
    color: #ff0164;
    font-size: 14px;
    margin-left: 16px;
  }
}
.expert__button {
  margin-top: 120px;
}
.banner-partners {
  background-image: url(../img/dist/banner-partners.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 145px;
  padding-bottom: 253px;
}
.partners {
  color: $secondary-color;
  &__title {
    font-size: 50px;
    max-width: 372px;
    line-height: 60px;
    margin-bottom: 38px;
    @media only screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
  &__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 560px;
  }
}
.knowledge {
  display: flex;
  margin-top: 153px;
  margin-bottom: 192px;
  @media only screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
  &__description {
    display: inline-block;
    max-width: 495px;
    text-align: right;
    color: $secondary-color;
  }
  &__headline {
    display: inline-block;
    max-width: 508px;
    min-width: 304px;
    margin-top: 30px;
    color: $secondary-color;
  }
  &__content {
    width: 60%;
    padding-left: 50px;
    text-align: right;
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding-left: 0;
    }
  }
  &__pic {
    width: 40%;
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-top: 63px;
    }
  }
}
.study {
  display: flex;
  margin-top: 153px;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__content {
    width: 60%;
    padding-right: 70px;
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding-right: 0;
    }
  }
  &__description {
    color: $secondary-color;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 38px;
    max-width: 495px;
  }
  &__headline {
    max-width: 435px;
    margin-top: 30px;
    color: $secondary-color;
    @media only screen and (max-width: 767px) {
      max-width: 302px;
    }
  }
  &__pic {
    width: 40%;
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-top: 63px;
    }
  }
}
.popup {
  display: flex;
  color: $main-color;
  font-size: 16px;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__pic {
    @media only screen and (max-width: 767px) {
      width: 100%;
      height: auto;
      // height: 300px;
    }
  }
  &__content {
    // width: 60%;
    padding-left: 50px;
    text-align: left;
    padding-top: 69px;
    padding-bottom: 66px;
  }
  &__title {
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  &__subtitle {
    color: #8624db;
    font-size: 14px;
    margin-bottom: 40px;
  }
  &__description {
    line-height: 28px;
    max-width: 324px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  &__info {
    max-width: 313px;
    line-height: 28px;
    font-weight: 400;
  }
  &-tel__info {
    margin-bottom: 38px;
  }
  &__tel {
    color: $main-color;
    font-weight: 300;
  }
  &__email {
    color: $main-color;
    font-weight: 300;
  }
}

svg path {
  color: $secondary-color;
}
button.fancybox-close-small svg {
  border: #8624db 1px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
button.fancybox-close-small svg path {
  color: #8624db;
}
button.fancybox-button {
  height: 49px;
  width: 49px;
  overflow: hidden;
  background: transparent;
}
.fancybox-content {
  padding: 0 85px 0 0 !important;
  @media only screen and (max-width: 767px) {
    padding: 0 !important;
  }
}
.fancybox-button--arrow_left svg {
  border: 1px solid $secondary-color;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.fancybox-button--arrow_right svg {
  border: 1px solid $secondary-color;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.fancybox-container .fancybox-navigation .fancybox-button.prev,
.fancybox-container .fancybox-navigation .fancybox-button.next {
  width: 49px;
  height: 49px;
  font-size: 15px;
  border-radius: 50%;
  border: none;
  border: 1px solid $secondary-color;
  color: white;
  cursor: pointer;
  padding: 0;
  margin-right: 30px;
  margin-left: 30px;
  @media only screen and (max-width: 767px) {
    border: 1px solid #8624db;
    color: #8624db;
    margin: 0;
  }
}

.icon--border {
  display: inline-block;
  border: #ff0164 2px solid;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  background: transparent;
  position: relative;
}
