// banner
.banner {
  &__wrapper {
    max-width: 710px;
    margin: auto;
    text-align: center;
    @media only screen and (max-width: 767px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  &__wrapper--providers {
    max-width: 873px;
  }
  &__title {
    margin-bottom: 25px;
    @media only screen and (max-width: 767px) {
      font-size: 45px;
    }
    @media only screen and (max-width: 320px) {
      font-size: 30px;
    }
  }

  &__btn {
    @media only screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__icon {
    border: $secondary-color 2px solid;
    opacity: 0.5;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    background: transparent;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%);
    @media only screen and (max-width: 320px) {
      bottom: 10px;
    }
    .icon-arrow:before {
      content: "\E002";
      font-family: "Icon";
      color: $secondary-alpha;
      font-size: 7px;
      width: 100%;
      height: 100%;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translateX(-50%) translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// career
.career {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__caption {
    font-size: 21px;
    color: $secondary-color;
    margin-bottom: 42px;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  &__pic {
    margin-bottom: 45px;
    height: 63px;
    width: 65px;
    overflow: hidden;
    @media only screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }
  &__subtitle {
    max-width: 239px;
    font-size: 16px;
    color: $secondary-alpha;
    font-weight: 400;
  }
}
// system
.system {
  display: flex;
  margin-top: 153px;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__content {
    width: 60%;
    padding-right: 70px;

    @media only screen and (max-width: 767px) {
      width: 100%;
      padding-right: 0;
    }
  }
  &__headline {
    max-width: 435px;
    margin-top: 30px;
    @media only screen and (max-width: 767px) {
      max-width: 302px;
    }
  }
  &__pic {
    width: 40%;
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-top: 63px;
    }
  }
}
.service {
  display: flex;
  margin-top: 153px;
  margin-bottom: 192px;
  @media only screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
  &__description {
    display: inline-block;
    max-width: 495px;
    text-align: right;
  }
  &__headline {
    display: inline-block;
    max-width: 508px;
    min-width: 304px;
    margin-top: 30px;
  }
  &__content {
    width: 60%;
    padding-left: 50px;
    text-align: right;
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding-left: 0;
    }
  }
}
// uniq
.block-banner--wavetop {
  background-image: url(../img/dist/bc-wave-top.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 140px;
}
.uniq {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__pic {
    margin-bottom: 45px;
    height: 60px;
    overflow: hidden;
    @media only screen and (max-width: 767px) {
      margin-top: 57px;
    }
  }
  &__caption {
    max-width: 202px;
    font-size: 21px;
    color: $secondary-color;
    line-height: 28px;
    margin-bottom: 42px;
  }
  &__title {
    max-width: 336px;
    margin-bottom: 57px;
  }
  &__caption--talent {
    max-width: 230px;
  }
  &__description--color {
    color: #29262b;
    opacity: 0.8;
  }
  &--color {
    color: #29262b;
  }
}

// contact
.block-banner--purple {
  position: relative;
  background-image: url(../img/src/contact-group.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 153px;
  padding-bottom: 153px;
  text-align: center;
}
// clients
.clients {
  padding-top: 133px;
  padding-bottom: 165px;
  background-color: $background-color;
  position: relative;
  @media only screen and (max-width: 767px) {
    padding-top: 70px;
  }
  &__description {
    max-width: 494px;
    margin-bottom: 14px;
  }
  &__quetion {
    font-size: 16px;
    color: #8624db;
    margin-bottom: 50px;
  }

  &__sec {
    display: flex;
    flex-direction: column;
    margin-top: 69px;
    position: relative;
    z-index: 2;
    align-items: center;
  }
  &__pic {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 350px;
  }
}

.client {
  background-color: $secondary-color;
  height: 199px;
  width: 199px;
  position: relative;
  margin-bottom: 20px;
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 100%;
    // height: auto;
  }
  &--corporates {
    margin: 100px auto;
  }
}
// expert
.expert {
  text-align: center;
}
// mention
.block-mention {
  padding-top: 154px;
  padding-bottom: 50px;
  @media only screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.customer {
  text-align: center;
  &__pic {
    display: block;
    margin: auto;
  }
  &__title {
    color: #070707;
    font-size: 21px;
    font-weight: 800;
    line-height: 28px;
    margin-top: 52px;
    margin-bottom: 38px;
    span {
      display: block;
      color: #ff0164;
      text-align: center;
      font-weight: 900;
    }
  }
  &__subtitle {
    color: #070707;
    font-weight: 400;
    max-width: 239px;
    font-size: 16px;
    line-height: 28px;
    display: block;
    margin: auto;
  }
  &__logo {
    display: block;
    margin: 38px auto;
  }
}
// articles
.articles {
  margin-bottom: 77px;
  &__subtitle {
    color: $secondary-color;
  }
  &__description {
    color: $secondary-color;
    font-weight: 400;
    max-width: 511px;
  }
  &__headline {
    max-width: 449px;
    margin-top: 47px;
  }
}
.block__articles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.article {
  background-color: $secondary-color;
  padding-bottom: 35px;
  margin-right: 16px;
  width: 100%;
  margin-bottom: 10px;
  &__img {
    width: 100%;
    height: auto;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__title {
    color: $main-color;
    font-size: 21px;
    line-height: 28px;
    max-width: 236px;
    margin: 48px 0 43px 27px;
    font-weight: 800;
    height: 83px;
  }
  &__desctiption {
    max-width: 273px;
    color: $main-color;
    opacity: 0.8;
    line-height: 28px;
    font-size: 16px;
    margin-left: 27px;
    margin-bottom: 49px;
    height: 140px;
  }
  &__icon {
    border: #ff0164 2px solid;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    margin-left: 27px;
    display: inline-block;
    position: relative;
    .icon-right:before {
      content: "\E005";
      font-family: "Icon";
      color: #ff0164;
      font-size: 9px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__caption {
    display: inline;
    color: #ff0164;
    font-size: 14px;
    margin-left: 13px;
  }
  time {
    margin-left: 12px;
    text-align: left;
    color: $main-color;
    opacity: 0.5;
  }
  &__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.block__articles--mobile {
  margin-bottom: 53px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
// footer
.footer {
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    position: relative;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }
  }
  &__description {
    max-width: 239px;
    color: $secondary-color;
    opacity: 0.5;
    line-height: 26px;
  }
  &__subscribe {
    font-size: 14px;
    color: $secondary-color;
    margin-top: 20px;
  }
  &__title {
    font-size: 14px;
    color: $secondary-color;
    margin-bottom: 21px;
  }
  &__links {
    margin-bottom: 20px;
  }
  &__list {
    text-decoration: none;
  }
  &__link {
    color: $secondary-color;
    opacity: 0.5;
    line-height: 26px;
    font-size: 14px;
  }
  &__contact {
    color: $secondary-color;
    opacity: 0.5;
    line-height: 26px;
    font-size: 14px;
    display: block;
  }
  &__address {
    max-width: 160px;
    color: $secondary-color;
    opacity: 0.5;
    line-height: 26px;
    font-size: 14px;
    margin-bottom: 25px;
    @media only screen and (max-width: 767px) {
      display: inline-block;
      text-align: center;
    }
  }
  &__icon {
    border: $secondary-color 2px solid;
    opacity: 0.5;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    background: transparent;
  }
  .icon-arrow:before {
    content: "\E002";
    font-family: "Icon";
    color: $secondary-alpha;
    font-size: 7px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
  }
  &__talent {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  &__blog {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  &__button--mobile {
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-top: 15px;
    }
  }

  &__social {
    max-width: 100px;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  &--information {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    color: $secondary-color;
    opacity: 0.5;
    font-size: 14px;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    span {
      margin-left: 20px;
    }
  }
}
.button-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  width: 139px;
  color: $secondary-color;
  background-color: transparent;
  border: 2px solid #ff0164;
  height: 58px;
  font-size: 14px;
  display: inline;
  padding-left: 10px;
  margin-right: 3px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
input[type="email"] {
  width: 363px;
  color: $secondary-color;
  background-color: transparent;
  border: 2px solid #ff0164;
  height: 58px;
  font-size: 14px;
  display: inline;
  padding-left: 10px;
  margin-right: 3px;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.social--mobile {
  @media only screen and (max-width: 2200px) {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    display: inline-block;
    text-align: center;
  }
}
.icon-social-instagram,
.icon-social-twitter,
.icon-social-linkedIn,
.icon-social-facebook {
  height: 14px;
  width: 14px;
  color: $secondary-color;
  margin-right: 7px;
}
.icon-social-facebook:before {
  content: "\E006";
  font-family: "Icon";
}

.icon-social-instagram:before {
  content: "\E007";
  font-family: "Icon";
}

.icon-social-linkedIn:before {
  content: "\E008";
  font-family: "Icon";
}

.icon-social-twitter:before {
  content: "\E009";
  font-family: "Icon";
}

.social__item {
  display: inline-block;
  margin-top: 20px;
}
.radio {
  padding-left: 20px;
  color: $secondary-color;
  opacity: 0.5;
  font-size: 11px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
  &__input {
    appearance: none;
    position: absolute;
  }
  &__box {
    position: absolute;
    border: 2px solid #ff0164;
    border-radius: 50%;
    background-color: transparent;
    height: 16px;
    width: 16px;
    margin-left: -20px;
  }
}

.radio__input:checked + .radio__box {
  background-color: #ff0164;
}
.block-footer--line {
  border-top: 2px solid $secondary-color;
  opacity: 0.5;
  width: 100%;
  margin-top: 33px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
