.career {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__title {
    padding-top: 145px;
    padding-bottom: 69px;
    max-width: 354px;
  }
  &__caption {
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 42px;
  }
  &__pic {
    margin-bottom: 45px;
    height: 63px;
    width: 65px;
    overflow: hidden;
  }
  &__subtitle {
    max-width: 239px;
    font-size: 16px;
    color: rgba($color: #ffffff, $alpha: 0.8);
    font-weight: 400;
  }
}
