.clients {
  padding-top: 133px;
  padding-bottom: 165px;
  background-color: #f8f9fa;
  position: relative;
  &__text {
    max-width: 494px;
    color: #29262b;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 14px;
  }
  &__quetion {
    font-size: 16px;
    color: #8624db;
    margin-bottom: 50px;
  }

  &__sec {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    position: relative;
    z-index: 2;
  }
}
.clients__pic {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 350px;
}
.client {
  background-color: #ffffff;
  height: 199px;
  width: 199px;
  position: relative;
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.owl-nav {
  margin-top: 40px !important;
  display: flex;
  justify-content: flex-end;
  .owl-prev,
  .owl-next {
    background-color: transparent;
    border: 2px solid #8624db !important;
    border-radius: 50% !important;
    width: 49px;
    height: 49px;
    position: relative !important;
    margin-right: 12px;
    z-index: 3;
    &:hover {
      background-color: transparent !important;
    }
    span {
      color: #8624db;
      font-size: 20px;
      width: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.owl-item {
  img {
    width: auto !important;
  }
}
