.clients {
  padding-top: 133px;
  padding-bottom: 165px;
  background-color: #f8f9fa;
  &__text {
    max-width: 494px;
    color: #29262b;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 14px;
  }
  &__quetion {
    font-size: 16px;
    color: #8624db;
    margin-bottom: 50px;
  }
}
.partner {
  display: flex;
  justify-content: space-between;
}
.client {
  background-color: #ffffff;
  height: 199px;
  width: 199px;
  position: relative;
}
.client__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
