.banner {
  background-image: url(../img/dist/home-header.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 767px) {
    background-image: url(../img/dist/mob.jpg);
  }
}
header {
  z-index: 2;
  position: fixed;
  width: 100%;
}
.header {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  &__menu {
    margin-top: 38px;
    list-style: none;
    display: flex;
  }
  &__item {
    margin-left: 43px;
  }
  &__link {
    display: inline-block;
    font-size: 13px;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
  }
  &__link:after {
    content: "";
    display: block;
    margin-top: 6px;
    background-color: #ff0164;
    width: 0px;
    height: 3px;
    transition: 0.3s;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  &__link:hover {
    color: rgba($color: #ffffff, $alpha: 0.5);
  }
  &__link:hover:after {
    width: 21px;
  }
}
