.owl-nav {
  margin-top: 40px !important;
  display: flex;
  justify-content: flex-end;

  .owl-prev,
  .owl-next {
    background-color: transparent;
    border: 2px solid #8624db !important;
    border-radius: 50% !important;
    width: 49px;
    height: 49px;
    position: relative !important;
    margin-right: 12px;
    z-index: 3;
    &:hover {
      background-color: transparent !important;
      border: 2px solid rgba(134, 36, 219, 0.5) !important;
    }
    span {
      color: #8624db;
      font-size: 20px;
      width: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.owl-item {
  img {
    width: auto !important;
  }
}
#corporates-carousel {
  .owl-nav {
    position: absolute;
    top: -120px;
    right: 0;
    margin-bottom: 250px;
  }
}
