.system {
  display: flex;
  margin-top: 153px;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.system__content {
  width: 60%;
  padding-right: 70px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 40px;
    padding-right: 0;
  }
}
.system__rubric {
  max-width: 435px;
  margin-top: 30px;
  @media only screen and (max-width: 767px) {
    max-width: 302px;
  }
}
.system__pic {
  width: 38%;

  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}
.system__content-2 {
  width: 62%;
  padding-left: 50px;
  text-align: right;
  @media only screen and (max-width: 767px) {
    width: 100%;
    padding-left: 0;
  }
}
.system__rubric-2 {
  display: inline-block;
  max-width: 508px;
  min-width: 304px;
  margin-top: 30px;
}

.system__text-2 {
  display: inline-block;
  max-width: 495px;
  text-align: right;
}
.system__btn {
  text-align: right;
  @media only screen and (max-width: 767px) {
    margin-bottom: 63px;
  }
}
.system-2 {
  display: flex;
  margin-top: 153px;
  @media only screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
}
