$main-color: #29262b;
$secondary-color: #ffffff;
$secondary-alpha: rgba(
  $color: #ffffff,
  $alpha: 0.8,
);
$background-color: #f8f9fa;

.wrapper {
  max-width: 919px;
  margin: auto;
  @media only screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.block-banner__description {
  color: $secondary-alpha;
  font-size: 16px;
  line-height: 28px;
  max-width: 243px;
}
.text {
  color: $secondary-alpha;
  font-size: 21px;
  max-width: 699px;
  margin: 14px auto 59px auto;
  @media only screen and (max-width: 767px) {
    font-size: 18px;
  }
}
.block-banner__headline {
  padding-bottom: 69px;
  max-width: 354px;
  color: $secondary-color;
  font-size: 50px;
  @media only screen and (max-width: 767px) {
    font-size: 30px;
    max-width: 300px;
    padding-bottom: 25px;
  }
}
.block-banner--black {
  background-image: url(../img/dist/Group.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 145px;
  padding-bottom: 300px;
  position: relative;
  margin-bottom: 33px;
  @media only screen and (max-width: 767px) {
    padding-top: 70px;
    padding-bottom: 170px;
  }
}
.block-banner--pink {
  background-image: url(../img/dist/group-expert.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 280px;
  padding-bottom: 185px;
  position: relative;
  top: -120px;
}
body {
  background-color: #fff;
}
.title {
  font-size: 72px;
  color: $secondary-color;
  margin-bottom: 14px;
  @media only screen and (max-width: 767px) {
    font-size: 45px;
  }
}

.button {
  display: inline-block;
  color: $secondary-color;
  background-color: #ff0164;
  border-radius: 29px;
  padding: 20px 32px;
  border: 3px solid transparent;
  &:hover {
    border: #ff0164 solid 3px;
    background-color: transparent;
    color: #ff0164;
  }
  &--purple {
    background-color: #8624db;
    margin-left: 20px;

    @media only screen and (max-width: 767px) {
      margin-top: 19px;
      margin-left: 0;
    }
    &:hover {
      border: #8624db solid 3px;
      background-color: transparent;
      color: #8624db;
    }
  }
}
.subtitle {
  color: #8624db;
  font-size: 12px;
  margin-bottom: 34px;
}
.headline {
  font-size: 50px;
  color: #29262b;
  margin-bottom: 49px;
  @media only screen and (max-width: 767px) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}
.description {
  font-size: 16px;
  font-weight: 400;
  color: #29262b;
  max-width: 560px;
  margin-bottom: 50px;
  line-height: 28px;
}
.talent {
  position: relative;
  background-image: url(../img/dist/left_img.png);
  background-repeat: no-repeat;
  @media only screen and (max-width: 767px) {
    background-image: none;
  }
}

.work__img {
  max-width: 711px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.work__img--mobile {
  @media only screen and (max-width: 1800px) {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    display: block;
    width: 90%;
  }
}
.block-work_img {
  display: flex;
  justify-content: flex-end;
  @media only screen and (max-width: 767px) {
    margin-top: 63px;
    justify-content: start;
  }
}
.subtitle-mobile {
  color: #8624db;
  font-size: 12px;
  margin-bottom: 25px;
  @media only screen and (max-width: 1800px) {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    display: block;
  }
}
